<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PEPUP</title>

  <!--favicon-->
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png'%}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png'%}">
  <!--bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/landing.css' %}?ver=1.11">
</head>
<body>
<!--section-->
  <div class="section">
    <div class="section1">
      <div class="container">
        <p>새로운 빈티지 거래 플랫폼</p>
        <h2>PEP UP ; 생기를 불어넣다.</h2>
        <img class="img_landing1" src="{% static 'img/landing1.png' %}">
      </div>
    </div>
    <div class="section1">
      <div class="container">
        <div>
          <ul>
            <li><h3><span>귀찮은 건 싫어!</span></h3></li>
            <li style="flex:0.6">Pep up을 통해 쉽고 빠르게 빈티지 제품을 구매하세요. 인터넷이나 SNS를 뒤질 필요도, 시간 내서 동묘에 갈 필요도 없답니다.</li>
          </ul>
          <img class="img_landing2" src="{% static 'img/landing2.png' %}">
          <ul>
            <li>
              <h3>
                <span>좋은 것만 볼래</span>
              </h3>
              <p>Pep up이 당신이 좋아할 만한 상품만 보여줄게요. 당신의 취향을 한방에 저격할 상품들을 큐레이션 해드립니다.</p>
            </li>
            <li></li>
            <li><h3><span>버리긴 아까운데..</span></h3>
              <p>당신의 옷장에서 잠자고 있는 옷을 팔아보세요. 돈도 벌고, 환경도 지킬 수 있는 절호의 기회!</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section2">
      <div class="container">
        <div>
          <h3>PEP UP</h3>
          <h3>COMING SOON</h3>
          <br/>
          <p>Pep up clothes, Pep youer life up</p>
        </div>
      </div>
    </div>
  </div>
<!--footer-->
  <div class="footer">
    <div class="container">
      <ul>
        <li><span style="font-size: 20px">주식회사 몽데이크</span></li>
        <li>Copyright 2020 Mondeique. All rights reserved.</li>
      </ul>
      <ul>
        <li><span>주소</span> 서울시 마포구 연희로 11 5층 S-541호</li>
        <li><span>대표</span> 박준용</li>
        <li><span>사업자등록번호</span> 491-23-00826</li>
      </ul>
    </div>
  </div>
</body>
</html>