<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/headerFooter.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
  <meta charset="UTF-8">
  <script type='text/javascript' src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <title>PEPUP</title>
</head>
<body>
<!--section-->
    <div id="wrap">
        <header>
            <img id = "homeBtn" src="https://pepup-storage.s3.ap-northeast-2.amazonaws.com/landing/homesmall.svg">
            <div id="guideBtn">
                SELL WITH PEP UP
            </div>
        </header>
        <section>
            <p id = "text1" class = "bold">대리판매 신청하기</p>
            <div id = "underline"></div>
            <p class="bold line" id="firstline"><span class="f">본인성함</span><input id = "name" text="text" name="name"></p>
            <p class="bold line" id="line2"><span class="f">전화번호</span><input id = "phone" type="text" name="name"></p>
            <p class="bold line" id="line3"><span class="f">상품개수</span><input id = "count" type="number" name="name"></p>
            <p class="bold line"><span class="f">판매대금 받으실 은행</span>
                <select id = "bank" name="bank" class="lineElement3">   
                </select>
            </p>
            <p class="bold line"><span class="f">계좌번호</span><input id = "bankAccount" type="text" name="name"></p>
            <div id="submitBtn">신청하기</div>
        </section>
        
    </div>
    <!--footer-->
  <footer>
        <div class="container">
          <div class="footer-first">
            <span style="font-size: 20px; font-family: noto-bold;">주식회사 몽데이크</span>
            <br/>
            <span>Copyright 2020 Mondeique. All rights reserved.</span>
          </div>
          <div class="footer-section">
            <span style="font-family: noto-bold;">주소</span> 서울시 마포구 연희로 11 5층 S-541호<br/>
            <span style="font-family: noto-bold;">대표</span> 박준용, 이상우<br/>
            <span style="font-family: noto-bold;">사업자등록번호</span> 789-81-01945<br/>
            <span style="font-family: noto-bold;">이메일</span> support@mondeique.com
          </div>
        </div>
  </footer>
  
</body>
<script>
    var list  = ["기업은행", "국민은행", "농협중앙회", "단위농협", "우리은행", "대구은행", "외환은행", "SC제일은행", "부산은행", "새망르금고", "한국씨티은행", "광주은행", "경남은행", "수협", "신협", "전북은행", "제주은행", "산림조합", "우체국", "하나은행", "신한은행", "동양종금증권", "한국투자증권", "삼성증권", "미래에셋", "우리투자증권", "현대증권", "SK증권", "신한금융투자", "하이증권", "HMC증권", "대신증권", "하나대투증권", "동부증권", "유진증권", "메리츠증권", "신영증권", "대우증권"]
    $(document).ready(function(){
      for(var i =0; i<list.length; i++){
          var $div = $(`<option value="${list[i]}">${list[i]}</option>`)
          $("select[name=bank]").append($div)
      }
    });
  
    function send(){
      var name
      var phone
      var quantity
      var bank
      var account
      if($("#name").val() == undefined){
        name = null
      }else{
        name = $("#name").val()
      }
      if($("#phone").val() == undefined){
        phone = null
      }else{
        phone = $("#phone").val()
      }
      if($("#count").val() == undefined){
        quantity = null
      }else{
        quantity = $("#count").val()
      }
      if($("#bank").val() == undefined){
        bank = null
      }else{
        bank = $("#bank").val()
      }
      if($("#bankAccount").val() == undefined){
        account = null
      }else{
        account = $("#bankAccount").val()
      }
    $.ajax({
      method : "POST",
      url : {% url 'landing:register' %},
      data : {
          csrfmiddlewaretoken: "{{ csrf_token }}",
          name : name,
          phone : phone,
          quantity : quantity,
          bank : bank,
          account : account
      },
      // dataType : "application/json",
      // contentType : "application/json",
      success : function(res){
          window.location.href = {% url 'landing:success' %}
      },
      error:function(){
          window.alert("신청 양식을 올바르게 채워주세요!");
        }
      })
    }
    $("#submitBtn").on("click", send)

    $("#guideBtn").hover(function(){
    $("#guideBtn").css("background", "black").css("color","white");
  }, function(){
    $("#guideBtn").css("background", "white").css("color","black");
  })
  $("#guideBtn").click(function(){
      window.location.href = {% url 'landing:sell_intro' %}
  })
  $("#homeBtn").click(function(){
    window.location.href = "http://pepup.world"
  })
</script>
</html>