<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/headerFooter.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/successText.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="https://pepup-server-storages.s3.ap-northeast-2.amazonaws.com/static/img/favicon-96x96.png"/>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script type='text/javascript' src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <title>PEPUP</title>

</head>
<body>
<!--section-->
    <div id="wrap">
        <header>
            <img id = "homeBtn" src="https://pepup-storage.s3.ap-northeast-2.amazonaws.com/landing/homesmall.svg">
            <div id="guideBtn">
                SELL WITH PEP UP
            </div>
        </header>
        <section id="sectionSell">
            <div id="successText">
                대리판매 1차 신청이 마감되었습니다<br>
                일주일간의 재 정비 후 더 좋은 서비스로 돌아오겠습니다.<br><br>
                판매는 계속되니 지속적인 관심 부탁드립니다.<br>
            </div>

        </section>
    </div>
    <!--footer-->
  <footer>
        <div class="container">
          <div class="footer-first">
            <span style="font-size: 20px; font-family: noto-bold;">주식회사 몽데이크</span>
            <br/>
            <span>Copyright 2020 Mondeique. All rights reserved.</span>
          </div>
          <div class="footer-section">
            <span style="font-family: noto-bold;">주소</span> 서울시 마포구 연희로 11 5층 S-541호<br/>
            <span style="font-family: noto-bold;">대표</span> 박준용, 이상우<br/>
            <span style="font-family: noto-bold;">사업자등록번호</span> 789-81-01945<br/>
            <span style="font-family: noto-bold;">이메일</span> support@mondeique.com
          </div>
        </div>
  </footer>
</body>
<script>
  // $(document).ready(function(){
  //   var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
  //   if(width < 760){
  //     $(".none-mobile").css("display", "none")
  //     $(".mobile").css("display","inline")
  //   }else{
  //     $(".none-mobile").css("display", "inline")
  //     $(".mobile").css("display","none")
  //   }
  // })
  $("#guideBtn").hover(function(){
    $("#guideBtn").css("background", "black").css("color","white");
  }, function(){
    $("#guideBtn").css("background", "white").css("color","black");
  })
  $("#guideBtn").click(function(){
      window.location.href = {% url 'landing:sell_intro' %}
  })
  $("#homeBtn").click(function(){
    window.location.href = "http://pepup.world"
  })
</script>
</html>